@import url('https://fonts.googleapis.com/css?family=Oxygen');

/* ------------------------------------------
 * Global
 * ------------------------------------------ */

body {
  font-family: 'Oxygen', sans-serif;
}

/* Header */
.site-title-container {
  height: 3.875rem;
  line-height: 3.875rem;
  background: #2b3211;
}

/* Header text */
.site-title {
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  margin: 0;
  color: #cee0dc;
}

#map {
  width: 100%;
  height: calc(100vh - 3.875rem);
}

/* Filter input text box */
.places-filter {
  width: 100%;
  padding: 0.67em;
  font-size: 1rem;
  font-family: 'Oxygen', sans-serif;
}

.places-list {
  padding: 0;
}

.place-list-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.place-list-item-button {
  padding: 0.67em;
  margin-top: 1em;
  border-radius: 8px;
  cursor: pointer;
  background: #d7dabc;
  font-size: 1rem;
  font-family: 'Oxygen', sans-serif;
}

/* ------------------------------------------
 * react-burger-menu
 * ------------------------------------------ */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2.25rem;
  height: 1.875rem;
  left: 1rem;
  top: 1rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f7b247;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #f7b247;
}

/* General sidebar styles */
.bm-menu {
  background: #443219;
  padding: 2.5em 1em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0) !important;
}

/* ------------------------------------------
 * Responsive
 * ------------------------------------------ */

@media screen and (max-width: 550px) {

  /* Header */
  .site-title-container {
    height: 2.94rem;
    line-height: 2.94rem;
  }

  /* Header text */
  .site-title {
    font-size: 0.94rem;
  }

  .bm-burger-button {
    width: 1.13rem;
    height: 0.94rem;
  }

  #map {
    height: calc(100vh - 2.94rem);
  }

  .places-filter {
    font-size: 0.82rem;
  }

  .place-list-item-button {
    font-size: 0.82rem;
  }
}